<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>ARaynorDesign Template</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/css/portfolio.css" rel="stylesheet" type="text/css" />
  <link href="/css/dark.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.galleriffic.js"></script>
  <script type="text/javascript" src="/js/jquery.opacityrollover.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // we only want these styles applied when javascript is enabled
      $('div.content').css('display', 'block');
      // initially set opacity on thumbs and add additional styling for hover effect on thumbs
      var onMouseOutOpacity = 0.67;
      $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
        mouseOutOpacity:   onMouseOutOpacity,
        mouseOverOpacity:  1.0,
        fadeSpeed:         'fast',
        exemptionSelector: '.selected'
      });
      // initialize advanced galleriffic gallery
      var gallery = $('#thumbs').galleriffic({
        delay:                     3500,
        numThumbs:                 10,
        preloadAhead:              10,
        enableTopPager:            false,
        enableBottomPager:         false,
        imageContainerSel:         '#slideshow',
        controlsContainerSel:      '#controls',
        captionContainerSel:       '#caption',
        loadingContainerSel:       '#loading',
        renderSSControls:          true,
        renderNavControls:         true,
        playLinkText:              'Play Slideshow',
        pauseLinkText:             'Pause Slideshow',
        prevLinkText:              '&lsaquo; Previous Trend',
        nextLinkText:              'Next Trend &rsaquo;',
        nextPageLinkText:          'Next &rsaquo;',
        prevPageLinkText:          '&lsaquo; Prev',
        enableHistory:             true,
        autoStart:                 true,
        syncTransitions:           true,
        defaultTransitionDuration: 900,
        onSlideChange:             function(prevIndex, nextIndex) {
          // 'this' refers to the gallery, which is an extension of $('#thumbs')
          this.find('ul.thumbs').children()
            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
            .eq(nextIndex).fadeTo('fast', 1.0);

          // update the photo index display
          this.$captionContainer.find('div.photo-index')
            .html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
        },
        onPageTransitionOut:       function(callback) {
          this.fadeTo('fast', 0.0, callback);
        },
        onPageTransitionIn:        function() {
          var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
          var nextPageLink = this.find	('a.next').css('visibility', 'hidden');
          // show appropriate next / prev page links
          if (this.displayedPage > 0)
            prevPageLink.css('visibility', 'visible');
          var lastPage = this.getNumPages() - 1;
          if (this.displayedPage < lastPage)
            nextPageLink.css('visibility', 'visible');
          this.fadeTo('fast', 1.0);
        }
      });
      // event handlers for custom next / prev page links
      gallery.find('a.prev').click(function(e) {
        gallery.previousPage();
        e.preventDefault();
      });
      gallery.find('a.next').click(function(e) {
        gallery.nextPage();
        e.preventDefault();
      });
    });
  </script>
</head>

<body>

<%
  var fulldate = yyyyddmm;
%>

  <div id="main">
    <div id="header">
        <div class="logo">
            <a href="/rank/<%=fulldate%>" ><img src="/images/Logo_transparent.png" alt="Daily Trend Analyst" width="460" height="78">
            </a>
        </div>
    </div>

	<div id="site_content">
      <div id="image_container">
      <!-- start gallery HTML containers -->

      <div class="navigation-container">
        <div id="thumbs" class="navigation">
          <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
          <ul class="thumbs noscript">
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_1.jpg"><img src="/images/1_thumb.png" alt="two"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[0]%>"><%=topics[0]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_2.jpg"><img src="/images/2_thumb.png" alt="two"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[1]%>"><%=topics[1]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_3.jpg"><img src="/images/3_thumb.png" alt="three"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[2]%>"><%=topics[2]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_4.jpg"><img src="/images/4_thumb.png" alt="four"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[3]%>"><%=topics[3]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_5.jpg"><img src="/images/5_thumb.png" alt="five" width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[4]%>"><%=topics[4]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_6.jpg"><img src="/images/6_thumb.png" alt="six"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[5]%>"><%=topics[5]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_7.jpg"><img src="/images/7_thumb.png" alt="seven"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[6]%>"><%=topics[6]%></a></div>
              </div>
            </li>
	        <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_8.jpg"><img src="/images/8_thumb.png" alt="eight"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[7]%>"><%=topics[7]%></a></div>
              </div>
            </li>
	        <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_9.jpg"><img src="/images/9_thumb.png" alt="nine"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[8]%>"><%=topics[8]%></a></div>
              </div>
            </li>
            <li>
              <a class="thumb" href="/rankImage/<%=fulldate%>_10.jpg"><img src="/images/10_thumb.png" alt="ten"width="70"  /></a>
              <div class="caption">
                <div class="image-title portfolio_two"><a href="/rank/<%=fulldate%>/<%=topics[9]%>"><%=topics[9]%></a></div>
              </div>
            </li>
          </ul>
          <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
        </div>
      </div>
      <div class="content">
        <div class="slideshow-container">
          <div id="loading" class="loader"></div>
          <div id="slideshow" class="slideshow"></div>
          <div id="controls" class="controls portfolio_two"></div>
          <div id="caption" class="caption-container"></div>
        </div>
      </div>
      <!-- end gallery HTML containers -->
	</div><!--end image_container-->
	</div><!--end site_content-->
  </div><!--end main-->

  <div id="footer">

  </div><!--close footer-->

</body>
</html>
